* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: $uoc-corporate;
    background-color: $uoc-bg;
}

.cv-container {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
        padding: 0.5rem;
    }
}
.cv-header {
    // font-family: $font-family-serif;
    //font-size: 1.5rem;
    //font-weight: 700;
    color: $uoc-corporate;

    @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
        font-size: 1rem;
        &--per {
            font-size: 1rem;
        }
        &--prof {
            font-size: 0.9rem;
        }
    }

    &__foto {
        display: block;
        max-width: 200px;
        height: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        margin-left: auto;
        border-radius: 50%;

        @media (min-width: $mqMinWidth) {
            max-width: none;
        }
    }
}
.cv-header-card {
    padding: 1% 0% 1% 3%;
    margin: 1% 0% 1% 0%;
    background-color: $contact-info-bg;
    border-radius: 25px;

    &--left {
        text-align: left;
    }

    &__ul {
        line-height: 1.5rem;
        list-style: none;
    }

    &__skills {
        line-height: 0.5rem;
        list-style: square;
    }

    &__tittle {
        font-weight: 700;
        text-transform: uppercase;
    }
    @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
        margin-top: 3%;
        font-size: 0.65rem;

        &__tittle {
            font-size: 0.7rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__ul {
            padding-left: 1%;
            list-style: none;
        }
        &__skills {
            padding-left: 3%;
            list-style: square;
        }
        &__ref {
            padding-left: 5%;
        }
    }
}

.cv-detail {
    &--left {
        text-align: left;
    }
}

.cv-detail-card {
    padding: 1% 0% 1% 3%;
    margin: 0% 0% 0% 0%;
    background-color: $about-info-bg;
    border-radius: 0px 0px 0px 0px;

    &__info {
        @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
            padding: 1% 3% 1% 1%;
            font-size: 0.6rem;
            text-align: justify;
        }
    }

    &--tittle {
        text-transform: uppercase;
        @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
            font-size: 0.7rem;
        }
    }

    &--align {
        text-align: left;
        @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
            text-align: center;
        }
    }
    &--explained {
        display: grid;
        grid-template-columns: 30% 70%;
        padding-bottom: 2rem;
        @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
            grid-template-columns: 40% 50%;
        }
    }
    &--format {
        /*aqui decir que para no usar una sola regla para cada cosa se renombra asi*/
        padding-left: 3%;
        border-left: 3px solid #a5a3a3;
        @media only screen and (min-device-width: $mqMinWidthMobile) and (max-device-width: $mqMinWidth) {
            font-size: 0.75rem;
            text-transform: capitalize;
        }
    }
}

.cv-footer {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
}
