* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: $corporate;
  background-color: $bg;
}

/*contenedor para la etiqueta main*/
.cv-container {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      padding: 0.5rem;
  }
}

/*
 * Sección del header con foto
 * Clase para el bloque contenedor del primer partial que contedrá la cabecera con la foto y resumen
 */


.cv-header {
  color: $corporate;

  @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
    font-size: 1rem;

    /*modifiers*/
    &--per { font-size: 1rem; }
    &--prof { font-size: 0.9rem; }

    /*elements*/
    &__foto {
      display: block;
      max-width: 200px;
      height: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
      margin-left: auto;

    }
  }
}


/*
 * Sección del header con información resumida
 * Clase para el bloque que contendrá una pequeña información en el header: información contacto, skills
 */
.cv-header-card {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: $contact-info-bg;
  border-radius: 25px;

  /*modifiers*/
  &--left { text-align: left;}

  /*elements*/
  &__ul {
    line-height: 1.5rem;
    list-style: none;
  }
  &__skills {
    line-height: 0.5rem;
    list-style: square;
  }
  &__tittle {
    font-weight: 700;
    text-transform: uppercase;
  }
  @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
    margin-top: 3%;
    font-size: 0.65rem;
    &__tittle {
      font-size: 0.7rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__ul {
      padding-left: 1%;
      list-style: none;
    }
    &__skills {
      padding-left: 3%;
      list-style: square;
    }
    &__ref { padding-left: 5%;}
  }
}



/*
 * Clase para el contenedor de una section con información sobre una categoría: education-experience..
 */

.cv-detail {
  /*modifiers*/
  &--left { text-align: left; }
}



/*
 * Sección para el card de información detallada
 * Clase para el bloque que contiene la descripción de la categoría mostrada: education-experience...
 */
.cv-detail-card {
  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-left: 3%;
  margin: 0;
  text-align: justify;
  background-color: $about-info-bg;
  border-radius: 0;

  /*elements*/
  &__info {
    @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      padding: 1% 3% 1% 1%;
      font-size: 0.6rem;
      text-align: justify;
    }
  }

  /*modifiers*/
  &--tittle {
    text-transform: uppercase;
    @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      font-size: 0.7rem;
    }
  }

  &--align {
    text-align: left;
    @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      text-align: center;
    }
  }

  &--explained {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: 2rem;
    @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      grid-template-columns: 40% 50%;
    }
  }

  &--format {
  padding-left: 3%;
  border-left: 3px solid #a5a3a3;
  @media only screen and (min-device-width: $mq-min-width-mobile) and (max-device-width: $mq-min-width) {
      font-size: 0.75rem;
      text-transform: capitalize;
   }
  }
}

/*
* Clase para el bloque footer
*/
.cv-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
