<section class="cv-detail cv-detail--left">
  <div class="cv-detail-card">
  <h3 class="cv-detail-card--tittle">Sobre mi</h3>
  <p class="cv-detail-card__info">Desde siempre he tenido interés en la informática, y por eso me decanté por estudiar
    Ingeniería Técnica en Informática de Sistemas. Pese a ser muy pocas las chicas que
    elegían esa profesión, nunca me sentí diferente a mis amigas, y siempre me motivaba
    aprender algo diferente en cada curso. Cuando me incorporé al mundo laboral, me decanté
    más por la rama de las bases de datos, dedicándome durante mucho tiempo a este sector.
    Desde hace más de cinco, cambié de rama y comencé un mundo completamente diferente,
    aunque no menos interesante: el desarrollo de aplicaciones web.<br />
    <br />
    En un sector tan amplio como el de la educación, que es al que me dedico, el mundo de
    las aplicaciones web constituye un elemento importantísimo y muy amplio en cuando a
    opciones a elegir: frameworks, metodologías, herramientas... Actualmente me encuentro
    estudiando el Máster en Desarrollo de Sitios y Aplicaciones Web en la
    <abbr title="Universidad Oberta de Catalunya">UOC</abbr> para profundizar en mis conocimientos y adquirir nuevas competencias en
    mi sector.
  </p>
  </div>
</section>
