<section class="cv-detail">
    <div class="cv-detail-card cv-detail-card--left">
        <h3 class="cv-detail-card--tittle">Educación</h3>
        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Univesidad Oberta de Catalunya</p>
                <p>2019-Actualidad</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Máster en desarrollo de sitios y aplicaciones web.</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Universidad rey Juan Carlos</p>
                <p>2001-2004</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Ingeniería Técnica en Informática de Sistemas.</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">E.O.I. Las Rozas</p>
                <p>2015-2018</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Alemán.</p>
            </div>
        </div>
    </div>
</section>
