<section class="cv-detail">
    <div class="cv-detail-card cv-detail-card--align">
        <h3 class="cv-detail-card--tittle">Experiencia</h3>
        <div class="cv-detail-card--explained">
            <div>
                <h4 class="cv-detail-card--tittle">Universidad Rey Juan Carlos</h4>
                <p class="cv-detail-card--tittle">2015-Actualidad</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Analista software en Área de Aplicaciones Corporativas.</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <h4 class="cv-detail-card--tittle">Formador CAM</h4>
                <p class="cv-detail-card--tittle">2019-Actualidad</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Formador para la Comunidad de Madrid de la herramienta de Microsoft PowerBi.</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <h4 class="cv-detail-card--tittle">Universidad Rey Juan Carlos</h4>
                <p class="cv-detail-card--tittle">2006-2011</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Analista de Datos en Área Académica.</p>
            </div>
        </div>
        <div class="cv-detail-card--explained">
            <div>
                <h4 class="cv-detail-card--tittle">Universidad Rey Juan Carlos</h4>
                <p class="cv-detail-card--tittle">2006-2011</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Técnica PL/SQL.</p>
            </div>
        </div>
    </div>
</section>
