<section class="cv-header">
    <div>
        <picture>
            <source
                srcset="./assets/images/img_estrella_cv.png?as=webp&width=250"
                type="image/webp"
                class="cv-header__foto"
            />
            <img
                src="./assets/images/img_estrella_cv.png?width=350"
                alt="Estrella Parrilla Sanz"
                class="cv-header__foto"
            />
        </picture>
        <h1 class="cv-header--persona">ESTRELLA PARRILLA SANZ</h1>
        <h2>FULL STACK DEVELOPER</h2>
    </div>

    <div class="cv-little-card cv-little-card--left">
        <p>INFORMACIÓN DE CONTACTO</p>
        <ul class="cv-little-card__ul">
            <li><i class="fa fa-phone"></i> +123456789</li>
            <li><i class="fa fa-envelope"></i> estrellapsanz@uoc.edu</li>
            <li><i class="fa fa-brands fa-github"></i> https://github.com/estrellapsanz</li>
            <li><i class="fa fa-map-marker"></i> Madrid, SPAIN</li>
        </ul>
    </div>
    <div class="cv-little-card cv-little-card--left">
        <p>CONOCIMIENTOS Y APTITUDES</p>
        <ul>
            <li><p>Láminas, Zend</p></li>
            <li><p>Php</p></li>
            <li><p>JavaScript, Typescript, Angular</p></li>
            <li><p>HTML5 & CSS3</p></li>
            <li><p>PL/SQL, MySql</p></li>
            <li><p>Git & GitHub & GitLab</p></li>
            <li><p>Docker, Kubernetes</p></li>
            <li><p>Linux, Bash/Shell</p></li>
        </ul>
    </div>

    <div class="cv-little-card cv-little-card--left">
        <p>REFERENCIAS</p>
        <p>Universidad Rey Juan Carlos</p>
        <ul>
            <li>
                <i class="fa fa-phone"></i>
                +123456789
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                loremipsum@urjc.es
            </li>
        </ul>
        <p>Formador CAM</p>
        <ul>
            <li>
                <i class="fa fa-phone"></i>
                +123456789
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                comunidadmadrid@cam.es
            </li>
        </ul>
    </div>
</section>
