<section class="cv-detail">
    <div class="cv-detail-card cv-detail-card--left">
        <h3 class="cv-detail-card--tittle">Idiomas y otros conocimientos</h3>
        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Inglés</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Nivel medio-alto (oral, escrito)</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Alemán</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Nivel medio (oral, escrito)</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Desarrollo Apps Móviles</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Google Activate (2019)</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">
                    Administración Bases de Datos Oracle 12c para desarrolladores y adm. (2019)
                </p>
            </div>
            <div class="cv-detail-card--format">
                <p>Curso Plan Formación Comunidad de Madrid</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">
                    Metodologías de seguridad en ciclos de desarrollo ágil (secdevops). (2019)
                </p>
            </div>
            <div class="cv-detail-card--format">
                <p>Curso Plan Formación Comunidad de Madrid</p>
            </div>
        </div>

        <div class="cv-detail-card--explained">
            <div>
                <p class="cv-detail-card--tittle">Gestión de Proyecto (SCRUM)</p>
            </div>
            <div class="cv-detail-card--format">
                <p>Curso Universidad Rey Juan Carlos</p>
            </div>
        </div>
    </div>
</section>
